:root
{
    --background-color: whitesmoke;
    --red-gradient: linear-gradient;
    --common-border-radius: 5px;
    --common-box-shadow: dimgray 1px 1px 4px;
}

html, body
{
    /* Reset Browser Margins */
    margin: 0;
    /* Make Full Space Available */
    width: 100%;
    height: 100%;
    /* No Overflow / Scroll */
    overflow: hidden;
    /* Default Font */
    font: 1.15rem 'Abel Regular', sans-serif;
}

body
{
    
    /* Default Background */
    background: var(--background-color);
    /* Child Positioning */
    display: grid;
    grid-template-columns: 1fr 4fr;
}

body > .box
{
    margin: 16px;
}

#logo
{
    min-width: 15vw;
    min-height: 5vh;
}

.box
{
    width: 95%;
    background-color: rgb(250, 250, 250);
    border-radius: var(--common-border-radius);
    box-shadow: var(--common-box-shadow);
}

.inner-box-padded
{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.flex-centered-rows
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.sidebar-button
{
    padding: 2px;
    width: 90%;
    background: linear-gradient(120deg, rgb(248, 248, 248), rgb(233, 233, 233));
    color: black;
    text-align: center;
    font: 1rem 'Abel Regular', sans-serif;
    border-radius: var(--common-border-radius);
    box-shadow: var(--common-box-shadow);
}

.sidebar-button:hover
{
    width: 90%;
    background: linear-gradient(175deg, rgb(97, 175, 228), rgb(0, 140, 255) 80%, rgb(94, 145, 255));
    color: whitesmoke;
    border-radius: var(--common-border-radius);
}